/* Cabeçalho das páginas no geral */
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body{
    background-color: lightblue;
}

.cabecalho{
    position: relative;
    width: max-content;
    height: 100px;
    display: flex;
    background-color: beige;
    width: 100%;
    justify-content: left;
    align-items: center;

}

.cabecalho > h1{
    margin-left: 60px;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(6, 48, 63); 
}

.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    margin-left: 370px;
}

.menu > a{
    color: rgb(6, 48, 63);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -130px;
}


/* Página do formulário */
.formulario{
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    background-color: beige;
    box-shadow: 3px 3px 10px gray;
}

.botao-inicio{
    color: gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -4px;
    margin-left: -6px; 
    background-color: rgba(0, 255, 255, 0.432);
    padding: 4px;
    width: 70px;
    border-radius: 5px;
}

.botao-inicio > a{
    text-decoration: none;
    color: black;
}

.botao-inicio:hover{
    color: rgb(58, 53, 53);
    background-color: rgba(58, 189, 189, 0.63);
}

.formulario > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

input{
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: white;
}

button{
    background-color: cyan;
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}


/* Seção de livros */
.livros{
    position: relative;
    border: 2px solid rgb(6, 68, 90);
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 4px 1px 20px gray;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transform: scale(0.95);
}

.capas{
    width: 160px;
    height: 220px;
}

.livros:hover{
    transform: scale(1.0);
}

.livros:active{
    transform: scale(0.80);
}