/* Cabeçalho das páginas no geral */
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body{
    background-color: lightblue;
}

.cabecalho{
    position: relative;
    width: max-content;
    height: 100px;
    display: flex;
    background-color: beige;
    width: 100%;
    justify-content: left;
    align-items: center;

}

.cabecalho > h1{
    margin-left: 60px;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    margin-left: 370px;
}

.menu > a{
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -130px;
}


/* Página do formulário */
.formulario{
    width: 400px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    background-color: beige;
    box-shadow: 3px 3px 10px gray;
    text-align: center;
}

.botao-inicio{
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.formulario > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: white;
}

button{
    background-color: cyan;
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}


/* Seção de livros */
.livros{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 4px 1px 20px gray;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.capas{
    width: 160px;
}
